<?xml version="1.0" encoding="utf-8"?>
<!-- Fronteira: declara o app e a MainActivity (única tela de entrada). Sem permissões: o app não usa internet. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquarelaPapelaria">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AquarelaPapelaria">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
